:root{
    --bs-body-font-family: 'Inter', sans-serif;
}

/* GLOBAL */
body{
    padding-top: 47px;
    color: #181818;
}

selector-for-some-widget {
    box-sizing: content-box;
}

/* NAVBAR SECTION */
nav{
    background-color: #E8E8E8;
    box-shadow: 0 .25rem .25rem rgba(0, 0, 0, .1);;
}

.navbar .navbar-brand .logo-img{
    margin-top: -4px;
}

/* .navbar .logo-text, .nav-item, button{
    font-weight: 700;
} */

.navbar .navbar-nav .nav-item a{
    padding: 1rem;
}

.login-btn{
    --bs-btn-padding-y: .5rem;
    --bs-btn-padding-x: 1.25rem;
    --bs-btn-font-size: 1;
    background-color: #495464;
}

/* SHOWCASE SECTION  */
.showcase{
    height: 100vh;
    background-color: #F4F4F2;
}

.showcase .container{
    height: 100%;
}

.showcase .showcase-btn{
    --bs-btn-padding-y: 1rem;
    --bs-btn-padding-x: 2rem;
    --bs-btn-font-size: 1.25rem;
    background-color: #495464;
}

/* FOOTER SECTTION */
footer{
    background-color: #BBBFCA;
}

footer a, footer p{
    color: #181818;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
}

.copyright-text{
    color: #181818;
    text-decoration: none;
}

.sosmed-icon{
    color: #181818;
    font-size: 1.5rem;
}